# Django
asgiref==3.2.10
Django==3.1.2
pytz==2020.1
sqlparse==0.4.1

# Web server
gunicorn==20.0.4

# Heroku dependencies
django-heroku==0.3.1
dj-database-url==0.5.0
psycopg2==2.8.6
whitenoise==5.2.0

# Helpful utilities
# =================

# Allows useful management commands like shell_plus
django-extensions==3.0.9

# Allow Bootstrap styling within Django
django-bootstrap4==2.3.1
