{% load bootstrap4 %}
{% load math %}

{# Each request gets represented as a card #}
<div class="card shadow-lift mb-4">

  {# Card header section contains the meal request title #}
  <div class="card-header font-weight-bold">
    {% if last_visited < meal_request.created_at.timestamp %}<span class="badge badge-pill badge-primary" title="This request was added since you last visited this page">New</span>{% endif %}
    Request #{{ meal_request.id }}: Meal for {{ meal_request.num_adults }} adult{{ meal_request.num_adults | pluralize }}
    and {{ meal_request.num_children }} kid{{ meal_request.num_children | pluralize }}
    {% if meal_request.children_ages %}(aged {{ meal_request.children_ages }}){% endif %}
    in {{ meal_request.city }}
  </div>

  {# Card body section contains the form and map #}
  <div class="card-body">
    <form action="{% url 'volunteers:chef_signup' meal_request.pk %}" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form_errors form %}

      {% if meal_request.delivery_distance > settings.MAX_CHEF_DISTANCE %}
        <div class="alert alert-warning">This request is far from you, please choose a different request unless you can deliver this yourself.</div>
      {% elif meal_request.stale %}
        <div class="alert alert-secondary">This request was submitted more than a week ago, please prioritize this if possible.</div>
      {% endif %}

      <div class="row">
        <div class="col-lg-6 order-lg-2 mb-4">
          <label class="font-weight-bold">Approximate delivery location</label>
          <p>{% ceiling meal_request.delivery_distance %}km away</p>
          <div class="responsive-map">
            <iframe
              loading="lazy"
              width="350"
              height="400"
              frameborder="0" style="border:0"
              src="{{ meal_request.anonymous_map_embed }}&zoom=12" allowfullscreen>
            </iframe>
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <label class="font-weight-bold">Food preferences</label>
          <p>{{ meal_request.food_preferences|default:"None" }}</p>

          <label class="font-weight-bold">Food allergies</label>
          <p>{{ meal_request.food_allergies|default:"None" }}</p>

          <label class="font-weight-bold">Other dietary information</label>
          <ul>
            {% if meal_request.vegan %} <li>Vegan</li> {% endif %}
            {% if meal_request.vegetarian %} <li>Vegetarian</li> {% endif %}
            {% if meal_request.dairy_free %} <li>Dairy Free</li> {% endif %}
            {% if meal_request.gluten_free %} <li>Gluten Freen</li> {% endif %}
            {% if meal_request.halal %} <li>Halal</li> {% endif %}
            {% if meal_request.kosher %} <li>Kosher</li> {% endif %}
            {% if meal_request.low_carb %} <li>Low-carb</li> {% endif %}
            <li>Will {% if not meal_request.will_accept_vegan %}<strong>not </strong>{% endif %}accept vegan meals</li>
            <li>Will {% if not meal_request.will_accept_vegetarian %}<strong>not </strong>{% endif %}accept vegetarian meals</li>
          </ul>

          <label class="font-weight-bold">Availability</label>
          <p>{{ meal_request.availability }}</p>

          <label class="font-weight-bold">Additional notes</label>
          <p>{{ meal_request.notes|default:"None" }}</p>

          {% bootstrap_field form.delivery_date label_class="font-weight-bold" %}

          <label class="font-weight-bold">Pickup timerange</label>
          <div class="row">
            <div class="col-sm">
              {% bootstrap_field form.pickup_start label_class="font-weight-bold" %}
            </div>
            <div class="col-sm">
              {% bootstrap_field form.pickup_end label_class="font-weight-bold" %}
            </div>
          </div>

          {{ form.can_deliver }}
          {{ form.can_deliver.label }}
          <div class="dropoff-timerange form-group">
            <label class="font-weight-bold">Drop-off timerange</label>
            <div class="row">
              <div class="col-sm">
                {% bootstrap_field form.dropoff_start label_class="font-weight-bold" %}
              </div>
              <div class="col-sm">
                {% bootstrap_field form.dropoff_end label_class="font-weight-bold" %}
              </div>
            </div>
            <small class="text-muted">
              Please provide a two hour maximum delivery window
            </small>
          </div>
        </div>
        <div class="col-12 order-lg-3">
          {% bootstrap_field form.pickup_details label_class="font-weight-bold" %}
          {% bootstrap_field form.meal label_class="font-weight-bold" %}
          {% bootstrap_field form.containers placeholder="example: 4 14oz containers of soup" label_class="font-weight-bold" %}

          {% buttons submit="Sign up"%}{% endbuttons %}
        </div>
      </div>
    </form>
  </div>
</div>

<style type="text/css">
  input[name="can_deliver"] {
    margin-bottom: 1em;
  }
  input[name="can_deliver"]:not(:checked) ~ div.dropoff-timerange {
    display: none;
  }
</style>
