{% load bootstrap4 %}

<form action="{% url 'volunteers:chef_task' meal_request.pk %}" method="post" class="form">
  {% csrf_token %}
  <div class="card mb-4">
    <div class="card-header font-weight-bold">
      Request #{{ meal_request.id }}: Meal for {{ meal_request.num_adults }} adult{{ meal_request.num_adults | pluralize }}
            and {{ meal_request.num_children }} kid{{ meal_request.num_children | pluralize }}
            {% if meal_request.children_ages %}
              (aged {{ meal_request.children_ages }})
            {% endif %}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <p class="font-weight-strong">This meal will be picked up on {{ meal_request.delivery_date }} between {{ meal_request.pickup_start }} to {{ meal_request.pickup_end }} {% if meal_request.deliverer %} by {{ meal_request.deliverer.volunteer.preferred_name }} (contact them at {{ meal_request.deliverer.volunteer.phone_number }}) {% else %} (no delivery person has been assigned yet) {% endif %}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6>Food preferences</h6>
          <p>
            {% if meal_request.food_preferences %}
              {{ meal_request.food_preferences }}
            {% else %}
              None
            {% endif %}
          </p>

          <h6>Food allergies</h6>
            {% if meal_request.food_allergies %}
              {{ meal_request.food_allergies }}
            {% else %}
              None
            {% endif %}
          </p>

          <h6>Meal</h6>
          {% bootstrap_field form.meal show_label=False %}
        </div>
        <div class="col">
          <h6>Other dietary information</h6>
          <ul>
            {% if meal_request.vegan %} <li>Vegan</li> {% endif %}
            {% if meal_request.vegetarian %} <li>Vegetarian</li> {% endif %}
            {% if meal_request.dairy_free %} <li>Dairy Free</li> {% endif %}
            {% if meal_request.gluten_free %} <li>Gluten Freen</li> {% endif %}
            {% if meal_request.halal %} <li>Halal</li> {% endif %}
            {% if meal_request.kosher %} <li>Kosher</li> {% endif %}
            {% if meal_request.low_carb %} <li>Low-carb</li> {% endif %}
            <li>Will {% if not meal_request.will_accept_vegan %}<strong>not </strong>{% endif %}accept vegan meals</li>
            <li>Will {% if not meal_request.will_accept_vegetarian %}<strong>not </strong>{% endif %}accept vegetarian meals</li>
          </ul>
        </div>
      </div>
      {% if not meal_request.delivered %}
        <a href="mailto:{{settings.REQUEST_COORDINATORS_EMAIL}},{{settings.DELIVERY_COORDINATORS_EMAIL}}?subject=Chef Change Request for Delivery for Request ID {{ meal_request.id }}" class="btn btn-primary">Request a change</a>
      {% endif %}
    </div>
  </div>
</form>