{% load bootstrap4 %}
{% load math %}

<div class="card mb-4">
  {# Card header section contains the meal request title #}
  <div class="card-header font-weight-bold">
    {% if last_visited < meal_request.created_at.timestamp %}<span class="badge badge-pill badge-primary" title="This delivery was added since you last visited this page">New</span>{% endif %}
    Delivery for Request #{{ meal_request.id }} - Pickup timeframe: {{ meal_request.delivery_date }}, {{ meal_request.pickup_start }} to {{ meal_request.pickup_end }}
  </div>
  <div class="card-body">
    {% bootstrap_form_errors form %}
    <div class="row">
      <div class="col-md">
        <h6>Recipient details</h6>
        <p>
          Meal
          for {{ meal_request.num_adults }} adult{{ meal_request.num_adults | pluralize }}
          and {{ meal_request.num_children }} kid{{ meal_request.num_children | pluralize }}
        </p>

        {% if meal_request.containers %}
          <h6>Containers</h6>
          <p>{{ meal_request.containers }}</p>
        {% endif %}

        {% if meal_request.pickup_details %}
          <h6>Pickup instructions</h6>
          <p>{{ meal_request.pickup_details }}</p>
        {% endif %}

        {% if meal_request.delivery_details %}
          <h6>Dropoff instructions</h6>
          <p>{{ meal_request.delivery_details }}</p>
        {% endif %}
      </div>
    </div>

    <h6>Approximate distance</h6>
    <p>{% ceiling meal_request.delivery_distance %} kilometres</p>

    <div class="row mb-4">
      <div class="col">
        <h6>Approximate pickup location</h6>
        <iframe
          loading="lazy"
          width="350"
          height="200"
          frameborder="0" style="border:0"
          src="{{ meal_request.chef.volunteer.anonymous_map_embed }}&zoom=14" allowfullscreen>
        </iframe>
      </div>
      <div class="col">
        <h6>Approximate delivery location</h6>
        <iframe
          width="350"
          height="200"
          frameborder="0" style="border:0"
          src="{{ meal_request.anonymous_map_embed }}&zoom=14" allowfullscreen>
        </iframe>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form action="{% url 'volunteers:deliverer_signup' meal_request.pk %}" method="post" class="form">
          {% csrf_token %}

          <h6>Dropoff timerange on {{ meal_request.delivery_date }}</h6>
          <div class="row">
            <div class="col-sm">
              {% bootstrap_field form.dropoff_start %}
            </div>
            <div class="col-sm">
              {% bootstrap_field form.dropoff_end %}
            </div>
          </div>
          <p>
            Please provide a two hour maximum delivery window.
          </p>
          <p>
            The recipient will{% if not meal_request.can_meet_for_delivery %} <strong>not</strong>{% endif %} be able to meet you in the lobby or door of the residence.
          </p>

          {{ form.id.as_hidden }}
          {{ form.pickup_start.as_hidden }}
          {{ form.pickup_end.as_hidden }}
          {% buttons submit="Sign up"%}{% endbuttons %}
        </form>
      </div>
    </div>
  </div>
</div>