{% load bootstrap4 %}
{% load math %}

<div class="card shadow-lift mb-4">
  {# Card header section contains the meal request title #}
  <div class="card-header font-weight-bold">
    {% if last_visited < meal_request.created_at.timestamp %}<span class="badge badge-pill badge-primary" title="This delivery was added since you last visited this page">New</span>{% endif %}
    Delivery for Request #{{ meal_request.id }} - Pickup timeframe: {{ meal_request.delivery_date }}, {{ meal_request.pickup_start }} to {{ meal_request.pickup_end }}
  </div>
  <div class="card-body">
    {% bootstrap_form_errors form %}
    <div class="row">
      <div class="col-md">
        <label class="font-weight-bold">Recipient details</label>
        <p>
          Meal
          for {{ meal_request.num_adults }} adult{{ meal_request.num_adults | pluralize }}
          and {{ meal_request.num_children }} kid{{ meal_request.num_children | pluralize }}
        </p>

        <label class="font-weight-bold">Containers</label>
        <p>{{ meal_request.containers|default:"No details specified" }}</p>

        <label class="font-weight-bold">Pickup instructions</label>
        <p>{{ meal_request.pickup_details|default:"None" }}</p>

        <label class="font-weight-bold">Dropoff instructions</label>
        <p>{{ meal_request.delivery_details|default:"None" }}</p>
      </div>
    </div>

    <label class="font-weight-bold">Approximate distance</label>
    <p>{% ceiling meal_request.delivery_distance %}km</p>

    <div class="row mb-4">
      <div class="col">
        <label class="font-weight-bold d-block">Approximate pickup location</label>
        <iframe
          loading="lazy"
          width="300"
          height="200"
          frameborder="0" style="border:0"
          src="{{ meal_request.chef.volunteer.anonymous_map_embed }}&zoom=14" allowfullscreen>
        </iframe>
      </div>
      <div class="col">
        <label class="font-weight-bold d-block">Approximate delivery location</label>
        <iframe
          width="300"
          height="200"
          frameborder="0" style="border:0"
          src="{{ meal_request.anonymous_map_embed }}&zoom=14" allowfullscreen>
        </iframe>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form action="{% url 'volunteers:deliverer_signup' meal_request.pk %}" method="post" class="form">
          {% csrf_token %}

          <label class="font-weight-bold">Dropoff timerange on {{ meal_request.delivery_date }}</label>
          <div class="form-group">
            <div class="row">
              <div class="col-sm">
                {% bootstrap_field form.dropoff_start label_class="font-weight-bold" %}
              </div>
              <div class="col-sm">
                {% bootstrap_field form.dropoff_end label_class="font-weight-bold" %}
              </div>
            </div>
            <small class="text-muted">Please provide a two hour maximum delivery window.</small>
          </div>
          <p>The recipient will{% if not meal_request.can_meet_for_delivery %} <strong>not</strong>{% endif %} be able to meet you in the lobby or door of the residence.</p>

          {{ form.id.as_hidden }}
          {{ form.pickup_start.as_hidden }}
          {{ form.pickup_end.as_hidden }}
          {% buttons submit="Sign up"%}{% endbuttons %}
        </form>
      </div>
    </div>
  </div>
</div>
