{% load bootstrap4 %}
<div class="card mb-4">
  <div class="card-header font-weight-bold">
    {{ delivery.date }}: Request #{{ delivery.request.id }} (meals for
    {{ delivery.request.num_adults }} adult{{ delivery.request.num_adults | pluralize }}
    and {{ delivery.request.num_children }} kid{{ delivery.request.num_children | pluralize }})
    <form action="" method="post" onsubmit="return window.confirm('Are you sure you want to mark this delivery as complete? You cannot undo this!')" class="form float-right">
      {% csrf_token %}
      <input type="hidden" name="delivery_id" value="{{ delivery.id }}" />
      {% bootstrap_button 'Mark as delivered' button_class='btn-warning' %}</form>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h6>Pickup information</h6>
        <ul>
          <li>Pick up from {{ delivery.pickup_start }} to {{ delivery.pickup_end }}</li>
          <li>Contact {{ delivery.chef.volunteer.preferred_name }} at {{ delivery.chef.volunteer.phone_number }}</li>
          <li>Address: <a href="{{ delivery.chef.volunteer.address_link }}" target="_blank" rel="noopener nofollow">{{ delivery.chef.volunteer.address }}</a></li>
        </ul>
      </div>
      <div class="col">
        <h6>Dropoff information</h6>
        <ul>
          <li>Drop off from {{ delivery.dropoff_start }} to {{ delivery.dropoff_end }}</li>
          <li>Contact {{ delivery.request.name }} at {{ delivery.request.phone_number }}</li>
          <li>Address: <a href="{{ delivery.request.address_link }}" target="_blank" rel="noopener nofollow">{{ delivery.request.address }}</a></li>
        </ul>
      </div>
    </div>
    <p>
      {{ delivery.request.delivery_details }}
    </p>
    <p>
      The recipient will{% if not delivery.request.can_meet_for_delivery %} <strong>not</strong>{% endif %} be able to meet you in the lobby or door of the residence.
    </p>
    <a href="mailto:{{settings.REQUEST_COORDINATORS_EMAIL}},{{settings.DELIVERY_COORDINATORS_EMAIL}}?subject=Deliverer Change Request for Delivery for Request ID {{ delivery.request.id }}" class="btn btn-primary">Request a change</a>
  </div>
</div>