{% extends 'base.html' %}
{% load django_tables2 %}
{% load bootstrap4 %}

{% block content %}
<h1>Chef signup</h1>


{% for meal in meals %}
<form action="" method="post" class="form">
    {% csrf_token %}

    <!-- {{ formset.management_form }} -->
    <!-- {{ formset }} -->
    <ul>

        <li>
          {{ meal.name.value }} @ {{ meal.address_1.value }} on date
          {{ meal.delivery_date }}
          {{ meal.uuid }}

          {% buttons submit="Submit"%}{% endbuttons %}

    </ul>



</form>
{% endfor %}

{% endblock %}