{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<h1 class="mb-3">My cooking tasks</h1>

<div class="row w-75">
  <div class="col">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="current-tasks-tab" data-toggle="tab" href="#current-tasks" aria-controls="current-tasks" aria-selected="true">Current</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="previous-tasks-tab" data-toggle="tab" href="#previous-tasks" aria-controls="previous-tasks" aria-selected="true">Previous</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane pt-3 show active" id="current-tasks" role="tabpanel" aria-labelledby="current-tasks-tab">
        <p>Here are all the upcoming meal requests that you've signed up to cook. If you need to make a change to any of these deliveries, please send us an email using the 'Request a change' button and tell us what you need to modify.</p>
        {% for delivery in deliveries.not_delivered %}
          {% include "volunteers/_chef_task.html" with delivery=delivery %}
        {% empty %}
          <div class="alert alert-info">You haven't signed up to cook any meals! <a href={% url 'volunteers:chef_signup' %}>Click here</a> to see the list of meal requests that current need a cook.</div>
        {% endfor %}
      </div>
      <div class="tab-pane pt-3" id="previous-tasks" role="tabpanel" aria-labelledby="previous-tasks-tab">
        <p>Here are all the past meal requests that you've cooked.</p>
        {% for delivery in deliveries.delivered %}
          {% include "volunteers/_chef_task.html" with delivery=delivery %}
        {% empty %}
          <div class="alert alert-info">You haven't signed up to cook any meals! <a href={% url 'volunteers:chef_signup' %}>Click here</a> to see the list of meal requests that current need a cook.</div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


{% endblock %}
