{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<h1>
  {% if new_since_last_visited %}<span class="badge badge-pill badge-primary" title="New requests were added since you last visited">{{ new_since_last_visited}} New</span>{% endif %}
  Sign up to cook meals
</h1>


<div class="row">
  <div class="col-md-3 order-md-2">
    {% if filter %}
      <form action="" method="get" class="form">
        <h4>Filters</h4>
        {% bootstrap_form filter.form %}
        {% bootstrap_button 'Filter' %}
        <a class="btn btn-primary ml-2" href={% url 'volunteers:chef_signup_list' %}>Reset</a>
      </form>
    {% endif %}
  </div>
  <div class="col-md-9 order-md-1">
    {% include 'volunteers/essential_service_notice.html' %}
    <p>Here are all the upcoming meal requests that need a chef! Please sign up by selecting a pickup date and time frame. You can also  <a href={% url 'volunteers:chef_list' %}>see all the meals you've already signed up for here</a>.</p>
    {% for form in forms %}
      {% include "volunteers/_chef_signup_form.html" with meal_request=form.instance form=form %}
    {% empty %}
      <div class="alert alert-info">There are no open meal requests at this time.</div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
