{% extends 'volunteers/base_application.html' %}
{% load bootstrap4 %}

{% block application_type %}cook{% endblock application_type %}

{% block group_specific_section %}
  <div class="card shadow-lift mb-3">
    <div class="card-body">
      <h5 class="card-title">Cooking preferences</h5>
      <div class="row">
        <div class="col-sm">
          {% bootstrap_field form.cooking_prefs %}
          {% bootstrap_field form.baking_volume %}
          {% bootstrap_field form.have_cleaning_supplies %}
        </div>
        <div class="col-sm">{% bootstrap_field form.food_types %}</div>
      </div>
    </div>
  </div>
{% endblock group_specific_section %}
