{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<h1 class="mb-3">Sign up to deliver meals and groceries</h1>


{% if alerts.success %}
  <div class="alert alert-success mb-4">
    Thanks for signing up to deliver! <a href={% url 'volunteers:delivery_list' %}>Click here</a> to see everything you've signed up for.
  </div>
{% endif %}

{% if alerts.error %}
  <div class="alert alert-warning mb-4">
    {{ alerts.error }}
  </div>
{% endif %}



<div class="row">
  <div class="col-md-3 order-md-2">
    {% if filter %}
      <form action="" method="get" class="form">
        <h4>Filters</h4>
        {% bootstrap_form filter.form %}
        {% bootstrap_button 'Filter' %}
        <a class="btn btn-primary ml-2" href={% url 'volunteers:delivery_signup' %}>Reset</a>
      </form>
    {% endif %}
  </div>
  <div class="col-md-9 order-md-1">

    <p>Here are all the upcoming requests that need to be delivered and their pickup timeframes! Please sign up by selecting a dropoff time frame. You can also <a href={% url 'volunteers:delivery_list' %}>see all the deliveries you've already signed up for here</a>.</p>

    {% if deliveries %}
      <ul class="volunteer-pages--meals-list d-flex flex-row flex-wrap">
        {% for delivery_signup in deliveries %}
          {% with form=delivery_signup.form request=delivery_signup.request delivery=delivery_signup.delivery %}

          <li class="volunteer-pages--meals delivery-signup">
            <div class="alert alert-info">
              Pickup timeframe: {{ request.delivery_date }}, {{ delivery.pickup_start }} to {{ delivery.pickup_end }}
            </div>
              <form action="" method="post" class="form">{% csrf_token %}
                <div class="volunteer-pages--meals-signup-household">
                  {% if delivery.container_delivery %}
                    Delivering containers for: <br />
                  {% endif %}
                    Meal for {{ request.num_adults }} adult{{ request.num_adults | pluralize }}
                    and {{ request.num_children }} kid{{ request.num_children | pluralize }}

                  <label>Approximate pick-up location</label>
                  <iframe
                    width="350"
                    height="200"
                    frameborder="0" style="border:0"
                    src="{{ request.anonymous_map_embed }}&zoom=14" allowfullscreen>
                  </iframe>
                </div>

                <div class="volunteer-pages--meal-signup-time">
                  <label>Drop-off timerange</label>
                  {{ form.start_time }} to {{ form.end_time }}
                </div>

                {{ form.uuid }}
                {% buttons submit="Submit"%}{% endbuttons %}
              </form>
          </li>
          {% endwith %}
        {% endfor %}
      </ul>
    {% else %}
      <div class="alert alert-info">There are no open delivery requests at this time.</div>
    {% endif %}
  </div>
</div>
{% endblock %}
