{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<h1>My deliveries</h1>

<p>Here are all the deliveries you've signed up to complete. If you need to make a change to one of these, please get in touch with one of our volunteer coordinators.</p>

  {% if deliveries %}
  <ul class="volunteer-pages--meals-list">
    {% for delivery in deliveries %}
      <li class="volunteer-pages--meals row">
        <div class="col">
          <div class="volunteer-pages--meals-signup-household">
            {% if delivery.container_delivery %}
              Delivering containers for: <br />
            {% endif %}
              Meal for {{ delivery.request.num_adults }} adult{{ delivery.request.num_adults | pluralize }}
              and {{ delivery.request.num_children }} kid{{ delivery.request.num_children | pluralize }}
              {% if delivery.request.children_ages %}
                (aged {{ delivery.request.children_ages }})
              {% endif %}
          </div>

          <div class="volunteer-pages--meal-signup-time">
            <label>Pickup date</label>
            {{ delivery.request.delivery_date }}

            <label>Pick up from</label>
            {{ delivery.pickup_start }} to {{ delivery.pickup_end }} (contact {{ delivery.chef.name }} at {{ delivery.chef.phone_number }})

            <label>Drop off from</label>
            {{ delivery.dropoff_start }} to {{ delivery.dropoff_end }} (contact {{ delivery.request.name }} at {{ delivery.request.phone_number }})
          </div>

          <div class="alert alert-info">
            Status: {{ delivery.status }}
          </div>
        </div>
        <div class="col">
          <div>
            {{ delivery.request.address_1 }} {{ delivery.request.address_2 }}
            <br />{{ delivery.request.city }}, {{ delivery.request.postal_code }}
          </div>
          <iframe
            width="400"
            height="400"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key={{ view.google_maps_embed_key }}
              &q={{ delivery.request.address_1 }},{{ delivery.request.address_2 }},{{ delivery.request.city }}&zoom=14" allowfullscreen>
          </iframe>
        </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <div class="alert alert-info">You haven't signed up for any deliveries! <a href={% url 'volunteers:delivery_signup' %}>Click here</a> to see the list of requests that current need to be delivered.</div>
{% endif %}
{% endblock %}
