{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<h1>My deliveries</h1>

<div class="row w-75">
  <div class="col">
    <p>Here are all the deliveries you've signed up to complete. If you need to make a change to one of these, please get in touch with one of our volunteer coordinators.</p>

  {% for delivery in deliveries %}
    <div class="card mb-4">
      <div class="card-header font-weight-bold">
        {{ delivery.date }}: Delivering meal for
        {{ delivery.request.num_adults }} adult{{ delivery.request.num_adults | pluralize }}
        and {{ delivery.request.num_children }} kid{{ delivery.request.num_children | pluralize }}
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h6>Pickup information</h6>
            <ul>
              <li>Pick up from {{ delivery.pickup_start }} to {{ delivery.pickup_end }}</li>
              <li>Contact {{ delivery.chef.name }} at {{ delivery.chef.phone_number }}</li>
              <li>Address: <a href="{{ delivery.chef.address_link }}" target="_blank" rel="noopener nofollow">{{ delivery.chef.address }}</a></li>
            </ul>
          </div>
          <div class="col">
            <h6>Dropoff information</h6>
            <ul>
              <li>Drop off from {{ delivery.dropoff_start }} to {{ delivery.dropff_end }}</li>
              <li>Contact {{ delivery.request.name }} at {{ delivery.request.phone_number }}</li>
              <li>Address: <a href="{{ delivery.request.address_link }}" target="_blank" rel="noopener nofollow">{{ delivery.request.address }}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  {% empty %}
    <div class="alert alert-info">You haven't signed up for any deliveries! <a href={% url 'volunteers:delivery_signup' %}>Click here</a> to see the list of requests that current need to be delivered.</div>
  {% endfor %}
  </div>
</div>

{% endblock %}
