{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<h1>My deliveries</h1>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" id="current-tasks-tab" data-toggle="tab" href="#current-tasks" aria-controls="current-tasks" aria-selected="true">Current</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="completed-tasks-tab" data-toggle="tab" href="#completed-tasks" aria-controls="completed-tasks" aria-selected="true">Completed</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane pt-3 show active" id="current-tasks" role="tabpanel" aria-labelledby="current-tasks-tab">
    <p>Here are all the upcoming deliveries you've signed up to complete. If you need to make a change to any of these deliveries, please send us an email using the 'Request a change' button and tell us what you need to modify.</p>
    {% for meal_request in meal_requests.not_delivered %}
      {% include "volunteers/_delivery_task.html" with meal_request=meal_request %}
    {% empty %}
      <div class="alert alert-info">You don't have any upcoming deliveries! <a href={% url 'volunteers:delivery_signup_list' %}>Click here</a> to see the list of requests that current need to be delivered.</div>
    {% endfor %}
  </div>
  <div class="tab-pane pt-3" id="completed-tasks" role="tabpanel" aria-labelledby="completed-tasks-tab">
    <p>Here are all the past deliveries that you've completed.</p>
    {% for meal_request in meal_requests.delivered %}
      {% include "volunteers/_delivery_task.html" with meal_request=meal_request %}
    {% empty %}
      <div class="alert alert-info">You haven't completed any deliveries yet! <a href={% url 'volunteers:delivery_signup_list' %}>Click here</a> to see the list of requests that current need to be delivered.</div>
    {% endfor %}
  </div>
</div>
{% endblock %}
