<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">Essential service</h4>
  <p>
    The People's Pantry continues to operate during Ontario's stay-at-home order in order to help those who are most affected by the COVID-19 pandemic.
    The following document confirms your status as an essential worker on behalf of The People's Pantry.
  </p>
  <hr />
  <a class="alert-link" target="_blank" rel="noopener noreferrer" href="https://docs.google.com/document/d/1uu7pl_ID4XIQScVOyH8i2Xx0E7v8mV9mi14XLnPC2jo/edit">Confirmation of Essential Service</a>
</div>