{% extends 'base.html' %}
{% load django_tables2 %}
{% load bootstrap4 %}

{% block head %}
<script
        src="https://maps.googleapis.com/maps/api/js?key={{ view.google_maps_api_key }}&callback=initMap&libraries=&v=weekly"
        defer
></script>

<script>
    let anonymized_coordinates = {{ view.anonymized_coordinates|safe }}

    function initMap() {
        // Adapted from https://jsfiddle.net/andriika/pdc2b85j
        class CustomMarker extends google.maps.OverlayView {
          constructor(params) {
            super();
            this.position = params.position;

            const content = document.createElement('div');
            content.classList.add('custom-map-marker', `marker-${params.label}`);
            content.textContent = params.label;
            content.style.position = 'absolute';

            const container = document.createElement('div');
            container.style.position = 'absolute';
            container.style.cursor = 'pointer';
            container.appendChild(content);

            this.container = container;
          }

          onAdd() {
            this.getPanes().floatPane.appendChild(this.container);
          }

          onRemove() {
            this.container.remove();
          }

          draw() {
            const pos = this.getProjection().fromLatLngToDivPixel(this.position);
            this.container.style.left = pos.x + 'px';
            this.container.style.top = pos.y + 'px';
          }
        }

        const toronto = {lat: 43.6532, lng: -79.3832};
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 12,
            center: toronto,
        });

        for (let i of Object.keys(anonymized_coordinates)) {
            const latlng = new google.maps.LatLng(anonymized_coordinates[i][0], anonymized_coordinates[i][1]);

            const marker = new CustomMarker({
              position: latlng,
              label: i,
            });

            marker.setMap(map);
        }
    }
</script>

<style type="text/css">
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
    }

    /* Style of overlay */
    .custom-map-marker {
      color: white;
      width: 40px;
      height: 40px;
      text-align: center;
      font-size: 16px;
      line-height: 30px;
      border-radius: 50%;
      background-color: black;
      border: solid 1px white;
      padding: 4px;
      top: -25px;
      left: -25px;
    }

</style>
{% endblock head %}

{% block content %}

<h1>View All Meal Requests</h1>

<div class="row">
  <div id="map"></div>
  <div class="col-md-3 order-md-2">
    {% if filter %}
      <form action="" method="get" class="form">
        <h4>Filters</h4>
        {% bootstrap_form filter.form %}
        {% bootstrap_button 'Filter' %}
      </form>
    {% endif %}
  </div>
  <div class="col-md-9 order-md-1">
    {% if 25 < table.paginator.count %}
      <small class="text-muted">
        Showing 25 of {{ table.paginator.count }} requests
      </small>
    {% endif %}
    {% render_table table %}
  </div>
</div>
{% endblock content %}
