{% extends 'volunteers/base_application.html' %}
{% load bootstrap4 %}

{% block application_type %}organize{% endblock application_type %}

{% block alert_content %}
<p>Logistics volunteers are primarily involved in the organization and communication behind the work at TPP. This involves organizing and scheduling deliveries, contacting and coordinating among members of different teams, reaching out to recipients, and more. Our work is highly collaborative and essential to the overall functioning of TPP.</p>
<p>Our teams work on different schedules and work times are flexible. However, we ask for a minimum commitment of two months. Incorporating new volunteers to our teams requires a lot of work from our logistics teams so we want to make sure we all get the best of this volunteering experience.</p>
{% endblock alert_content %}

{% block group_specific_section %}
  <div class="card shadow-lift mb-3">
    <div class="card-body">
      <h5 class="card-title">Volunteering preferences</h5>
      <p>To learn about the responsibilities of our volunteer teams, <a rel="noopener" target="_blank" href="https://docs.google.com/document/d/1V3R2bVRPOAaytM4h7UP7jXL7jHz-2MkLnN-9bhkPipk/edit">click here</a></p>
      {% bootstrap_field form.confirm_minimum_commitment %}
      {% bootstrap_field form.organizer_teams %}
    </div>
  </div>
{% endblock group_specific_section %}
