{% extends 'volunteers/base_application.html' %}
{% load bootstrap4 %}

{% block application_type %}organize{% endblock application_type %}

{% block group_specific_section %}
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Volunteering preferences</h5>
      <p>To learn about the responsibilities of our volunteer teams, <a rel="noopener" target="_blank" href="https://docs.google.com/document/d/1V3R2bVRPOAaytM4h7UP7jXL7jHz-2MkLnN-9bhkPipk/edit">click here</a></p>
      {% bootstrap_field form.confirm_minimum_commitment %}
      {% bootstrap_field form.organizer_teams %}
    </div>
  </div>
{% endblock group_specific_section %}
