{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<h1>Volunteer resources</h1>
<hr />
<h2>Volunteer guidelines</h2>
<p>All volunteers with The People's Pantry are required to abide by our volunteering guidelines</p>
<p>Click <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/document/d/1OCS-i_pm87MsT-POAbcDCKrv6SBA0J9tepOaETyLwmY/edit">here</a> to view the cooking guidelines</p>
<p>Click <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/document/d/1Kxf0Zz3dMO7vI410VMY5sTJX3PMh7Mt8dGQIgNmQwGs/edit">here</a> to view the delivery guidelines</p>

<h2>Submit reimbursements</h2>
<p>Please click <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSfuOiqDuuvngZhPRYhy5BpzFf5IwGvpYz4QYRQ3TzA18el9kA/viewform">here</a> to submit your receipt for reimbursement. Please note reimbursements are done on a monthly basis and should be submitted before the 20th. You should expect to receive the reimbursement within 2 days, not automatically. Full grocery reimbursements are available while grant funding exists to cover the costs. You will be notified when we are approaching our funding limit and revert to a $200/month per chef reimbursement.</p>

<h2>Submit recipes</h2>
<p>
  Please click <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSemtVbJij_fGZMpxlo91nHjTZe6JH_VbG61c5q9gok2aw2UUg/viewform">here</a> to submit your recipe to our community cookbook. The People’s Pantry Community Cookbook will be a collection of recipes from our chefs and bakers in addition to a discussion about how food injustices and food insecurities have always existed yet became highlighted due to COVID-19 and how The People’s Pantry and mutual aid organizations from all over came to be.
</p>
{% endblock %}
