{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<h1>Volunteer resources</h1>
<hr />
<h2>Volunteer guidelines</h2>
<p>All volunteers with The People's Pantry are required to abide by our volunteering guidelines</p>
<p>Click <a target="_blank" rel="noopener noreferrer" href="{% url "public:cooking_guide" %}">here</a> to view the cooking guidelines</p>
<p>Click <a target="_blank" rel="noopener noreferrer" href="{% url "public:delivery_guide" %}">here</a> to view the delivery guidelines</p>

<h2>Cooking resources</h2>
<p>Click <a target="_blank" rel="noopener noreferrer" href="{% url "public:halal_resource" %}">here</a> to learn about Halal cooking</p>

<h2>Submit reimbursements</h2>
<p>Please click <a target="_blank" rel="noopener noreferrer" href="{% url "public:reimbursement" %}">here</a> to submit your receipt for reimbursement. Please note reimbursements are done on a monthly basis and should be submitted before the 20th. You should expect to receive the reimbursement within 2 days, not automatically. Full grocery reimbursements are available while grant funding exists to cover the costs. You will be notified when we are approaching our funding limit and revert to a $200/month per chef reimbursement.</p>

<h2>Submit recipes</h2>
<p>
  Please click <a target="_blank" rel="noopener noreferrer" href="{% url "public:recipes" %}">here</a> to submit your recipe to our community cookbook. The People’s Pantry Community Cookbook will be a collection of recipes from our chefs and bakers in addition to a discussion about how food injustices and food insecurities have always existed yet became highlighted due to COVID-19 and how The People’s Pantry and mutual aid organizations from all over came to be.
</p>
{% endblock %}
