<div class="alert alert-secondary mt-4">
  <h3 class="alert-heading">Changes to our request process!</h4>
  <p>
    Due to an increase in demand, we are changing the People’s Pantry first-come-first serve method of submission.
    We have received feedback that many of you have not been able to submit your request before we reach our quota and close the forms.
  </p>
  <p>
    In order to give everyone an equal chance at getting their request in, we are implementing a lottery system.
    The submission window will stay open from 9 AM Friday until 2 PM Sunday.
    Please only submit one request per household.
    Any duplicate requests will be deleted.
  </p>
  <p>
    On Sunday afternoon, we will draw submissions from the pool.
    You will be notified if your request is selected.
  </p>
</div>
