{% extends 'base.html' %}

{% block content %}
<h1>Our grocery program is paused</h1>
<p>Dear Grocery community,</p>
<p>We will be putting a pause on our Grocery program. All scheduled grocery deliveries will be completed.</p>
<p>We intend to re-open the program, once we have restructured our operations in an intentional and dedicated effort to go back to our mutual aid roots, and we will let you know once that is the case.</p>
<p>It has been an honour and a privilege to be connected to you.</p>
<p>With care,<br/>The People’s Pantry Grocery Coordinators</p>
{% endblock %}
