{% extends 'base.html' %}

{% block content %}
<h1>Submit a request</h1>

<h2 class="h4">Toronto</h2>
<div class="justify-center">
  <a class="btn btn-info py-2 px-4 m-1" href="{% url 'recipients:new_meal_request' %}">
    <span class="h4">Request meals</span>
  </a>
  <a class="btn btn-info py-2 px-4 m-1" href="{% url 'recipients:new_grocery_request' %}">
    <span class="h4">Request groceries</span>
  </a>
</div>

<h2 class="h4 mt-4">Halton, Hamilton, and Guelph/Kitchener</h2>
<div class="justify-center">
  <a class="btn btn-success py-2 px-4 m-1" href="https://docs.google.com/forms/d/e/1FAIpQLSfO8Z0fHQCH5stBMfw-ONbSh8mbBL124jiC6I8NUSpN0VrUrQ/viewform"  target="_blank" rel="noopener noreferrer">
  	<span class="h5">Request free meal or grocery package</span>
  </a>
</div>

{% endblock %}
