{% extends 'recipients/base_new_request.html' %}
{% load bootstrap4 %}

{% block request_title %}Grocery delivery request (Toronto){% endblock request_title %}
{% block details_section_title %}Grocery details{% endblock details_section_title %}
{% block request_introduction %}
<p>Note: we only deliver groceries on Wednesdays.</p>
{% endblock request_introduction %}

{% block pre_details_section %}
<div class="alert alert-warning" role="alert">
  <h5 class="alert-heading">Our bundles are subject to availability</h5>
    <p>We will try our best to provide you with everything you request. However, THE GROCERY BUNDLES DEPEND ON SUPPLY AVAILABILITY. SOMETIMES YOU MIGHT NOT RECEIVE EVERYTHING YOU ASKED FOR BECAUSE OF AVAILABILITY OF SUPPLIES. Thanks for your understanding!</p>
    <hr />
    <p>There are other resources you can reach out to if you need more GROCERIES AND FOOD:</p>
    <ul>
      <li class="mb-2">The City of Toronto and the Red Cross deliver food hampers to seniors and others in need who can’t leave their homes and don’t have a support network. CALL: <a href="tel:1-833-204-9952">1-833-204-9952</a>, Monday-Friday, 8.30am-4.30pm. Quick registration, delivery next business day.</li>
      <li class="mb-2">If you have resources to fund groceries but are unable to leave the house, <a target="_blank" rel="noopener" href="https://www.facebook.com/thegoodneighborproject">the Good Neighbour Project</a> is supporting grocery deliveries</li>
      <li class="mb-2"><a target="_blank" rel="noopener" href="https://www.moms-kitchen.ca">Mom's Kitchen</a> provides food for free, no questions asked.</li>
      <li class="mb-2">You can also access <a target="_blank" rel="noopener" href="https://covid19.211central.ca/gta-food-banks/">211 Central</a> to find food banks and meal services available to Toronto residents. You can call or chat with them for information about specific services (call or text <a href="tel:211">211</a>).</li>
      <li class="mb-2">If you're a Black identifying person, you can visit <a target="_blank" rel="noopener" href="https://www.upliftkitchen.ca/">Uplift Kitchen</a> to receive cooked meals. Send them an email or contact them through Instagram.</li>
      <li class="mb-2">If you want to access other resources, visit <a target="_blank" rel="noopener" href="https://familyservicetoronto.org/our-services/covid-19-resources/">Family Service Toronto</a></li>
    </ul>
</div>
{% endblock pre_details_section %}

{% block details_section_extras %}
{% comment %}
When we first kick off the grocery launch, recipients will not be able to request specific groceries
We intend to add this feature back in after the holidays
{% bootstrap_field form.vegetables %}
{% bootstrap_field form.fruits %}
{% bootstrap_field form.protein %}
{% bootstrap_field form.grains %}
{% bootstrap_field form.condiments %}
{% bootstrap_field form.dairy %}
{% bootstrap_field form.baked_goods %}
{% bootstrap_field form.kid_snacks %}
{% bootstrap_field form.hygiene_products %}
{% endcomment %}
{% endblock details_section_extras %}
