{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>People's Pantry in the Media</h1>
<div class="row row-cols-1 row-cols-md-3">
	{% for story in stories %}
	<div class="col mb-4">
		<div class="card text-center h-100">
			<div class="card-header">
				<img class="card-img-top" src="{% static story.image %}">
			</div>
			<div class="card-body">
				<a href="{{ story.link }}" target="_blank" rel="noopener noreferrer">
					<h5 class="card-title">{{ story.title }}</h5>
				</a>
				<div class="font-weight-bold">{{ story.author }}</div>
				<div class="font-italic">{{ story.date }}</div>
				<div>{{ story.outlet }}</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}