<!-- Libs JS -->
<script src="@@webRoot/node_modules/jquery/dist/jquery.min.js"></script>
<script src="@@webRoot/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="@@webRoot/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="@@webRoot/node_modules/aos/dist/aos.js"></script>
<script src="@@webRoot/node_modules/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="@@webRoot/node_modules/countup.js/dist/countUp.min.js"></script>
<script src="@@webRoot/node_modules/dropzone/dist/min/dropzone.min.js"></script>
<script src="@@webRoot/node_modules/flickity/dist/flickity.pkgd.min.js"></script>
<script src="@@webRoot/node_modules/flickity-fade/flickity-fade.js"></script>
<script src="@@webRoot/node_modules/highlightjs/highlight.pack.min.js"></script>
<script src="@@webRoot/node_modules/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="@@webRoot/node_modules/isotope-layout/dist/isotope.pkgd.min.js"></script>
<script src="@@webRoot/node_modules/jarallax/dist/jarallax.min.js"></script>
<script src="@@webRoot/node_modules/jarallax/dist/jarallax-video.min.js"></script>
<script src="@@webRoot/node_modules/jarallax/dist/jarallax-element.min.js"></script>
<script src="@@webRoot/node_modules/quill/dist/quill.min.js"></script>
<script src="@@webRoot/node_modules/smooth-scroll/dist/smooth-scroll.min.js"></script>
<script src="@@webRoot/node_modules/typed.js/lib/typed.min.js"></script>

<!-- Map -->
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

<!-- Theme JS -->
<!-- build:js @@webRoot/assets/js/theme.min.js -->
<script src="@@webRoot/assets/js/polyfills.js"></script>
<script src="@@webRoot/assets/js/aos.js"></script>
<script src="@@webRoot/assets/js/choices.js"></script>
<script src="@@webRoot/assets/js/countup.js"></script>
<script src="@@webRoot/assets/js/dropdown.js"></script>
<script src="@@webRoot/assets/js/dropzone.js"></script>
<script src="@@webRoot/assets/js/fancybox.js"></script>
<script src="@@webRoot/assets/js/highlight.js"></script>
<script src="@@webRoot/assets/js/isotope.js"></script>
<script src="@@webRoot/assets/js/map.js"></script>
<script src="@@webRoot/assets/js/modal.js"></script>
<script src="@@webRoot/assets/js/navbar.js"></script>
<script src="@@webRoot/assets/js/popovers.js"></script>
<script src="@@webRoot/assets/js/pricing.js"></script>
<script src="@@webRoot/assets/js/quill.js"></script>
<script src="@@webRoot/assets/js/smooth-scroll.js"></script>
<script src="@@webRoot/assets/js/tooltips.js"></script>
<script src="@@webRoot/assets/js/typed.js"></script>
<!-- endbuild -->
