{% load static %}

{# Libs JS #}
{# Uncomment as needed #}
<script src="{% static "landkit_theme/libs/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "landkit_theme/libs/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
{# <script src="{% static "landkit_theme/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js" %}"></script> #}
<script src="{% static "landkit_theme/libs/aos/dist/aos.js" %}"></script>
{# <script src="{% static "landkit_theme/libs/choices.js/public/assets/scripts/choices.min.js" %}"></script> #}
{# <script src="{% static "landkit_theme/libs/countup.js/dist/countUp.min.js" %}"></script> #}
{# <script src="{% static "landkit_theme/libs/dropzone/dist/min/dropzone.min.js" %}"></script> #}
{# <script src="{% static "landkit_theme/libs/flickity/dist/flickity.pkgd.min.js" %}"></script> #}
{# <script src="{% static "landkit_theme/libs/flickity-fade/flickity-fade.js" %}"></script> #}
{# <script src="{% static "landkit_theme/libs/highlightjs/highlight.pack.min.js" %}"></script> #}
<script src="{% static "landkit_theme/libs/imagesloaded/imagesloaded.pkgd.min.js" %}"></script>
{# <script src="{% static "landkit_theme/libs/isotope-layout/dist/isotope.pkgd.min.js" %}"></script> #}
{# <script src="{% static "landkit_theme/libs/jarallax/dist/jarallax.min.js" %}"></script> #}
{# <script src="{% static "landkit_theme/libs/jarallax/dist/jarallax-video.min.js" %}"></script> #}
{# <script src="{% static "landkit_theme/libs/jarallax/dist/jarallax-element.min.js" %}"></script> #}
{# <script src="{% static "landkit_theme/libs/quill/dist/quill.min.js" %}"></script> #}
{# <script src="{% static "landkit_theme/libs/smooth-scroll/dist/smooth-scroll.min.js" %}"></script> #}
{# <script src="{% static "landkit_theme/libs/typed.js/lib/typed.min.js" %}"></script> #}

{# Map #}
{# Uncomment as needed #}
{# <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script> #}

{# Theme JS #}
<script src="{% static "landkit_theme/js/theme.min.js" %}"></script>

