{% load static %}

{# Libs CSS #}
{# Uncomment as needed #}
<link rel="stylesheet" href="{% static 'landkit_theme/fonts/Feather/feather.css' %}">
{# <link rel="stylesheet" href="{% static "landkit_theme/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css" %}"> #}
<link rel="stylesheet" href="{% static "landkit_theme/libs/aos/dist/aos.css" %}">
{# <link rel="stylesheet" href="{% static "landkit_theme/libs/choices.js/public/assets/styles/choices.min.css" %}"> #}
{# <link rel="stylesheet" href="{% static "landkit_theme/libs/flickity-fade/flickity-fade.css" %}"> #}
{# <link rel="stylesheet" href="{% static "landkit_theme/libs/flickity/dist/flickity.min.css" %}"> #}
{# <link rel="stylesheet" href="{% static "landkit_theme/libs/highlightjs/styles/vs2015.css" %}"> #}
{# <link rel="stylesheet" href="{% static "landkit_theme/libs/jarallax/dist/jarallax.css" %}"> #}
{# <link rel="stylesheet" href="{% static "landkit_theme/libs/quill/dist/quill.core.css" %}"> #}


{# Map #}
{# Uncomment as needed #}
{# <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' /> #}

{# Theme JS #}
<link rel="stylesheet" href="{% static 'landkit_theme/css/theme.min.css' %}">