{% load static %}

{# Libs CSS #}
{# Uncomment as needed #}
<link rel="stylesheet" href="{% static 'landkit_theme/fonts/Feather/feather.css' %}">
<link rel="stylesheet" href="{% static "landkit_theme/libs/aos/dist/aos.css" %}">
<link rel="stylesheet" href="{% static "landkit_theme/libs/flickity/dist/flickity.min.css" %}">

{# Preload webfonts #}
<link rel="preload" href="{% static 'landkit_theme/fonts/HK%20Grotesk%20Pro/HKGroteskPro-Regular.woff2' %}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{% static 'landkit_theme/fonts/HK%20Grotesk%20Pro/HKGroteskPro-Regular.woff' %}" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{% static 'landkit_theme/fonts/HK%20Grotesk%20Pro/HKGroteskPro-Medium.woff2' %}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{% static 'landkit_theme/fonts/HK%20Grotesk%20Pro/HKGroteskPro-Medium.woff' %}" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{% static 'landkit_theme/fonts/HK%20Grotesk%20Pro/HKGroteskPro-Bold.woff2' %}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{% static 'landkit_theme/fonts/HK%20Grotesk%20Pro/HKGroteskPro-Bold.woff' %}" as="font" type="font/woff" crossorigin>

{# Map #}
{# Uncomment as needed #}
{# <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' /> #}

{# Theme JS #}
<link rel="stylesheet" href="{% static 'landkit_theme/css/theme.min.css' %}">