{% extends "emails/base.html" %}

{% block content %}
<p style="{{ p_style }}">We are sorry but your submission was not selected.</p>
<p style="{{ p_style }}">However, our new system prioritizes those who have not received meals within the last weeks. Next week, your chances of being selected will be weighted higher, and we encourage you to resubmit a request.</p>
<p style="{{ p_style }}">The request form will open again at 9am on Friday and will close at 2pm on Sunday.</p>
<p style="{{ p_style }}">Thank you, and stay safe!</p>
{% endblock %}