{% extends "registration/base.html" %}
{% load bootstrap4 %}

{% block narrow_content %}
{% if next %}
  <div class="alert alert-warning" role="alert">
    {% if user.is_authenticated %}
      Your account doesn't have access to this page. To proceed, please login with an account that has access.
    {% else %}
      Please login to see this page.
    {% endif %}
  </div>
{% endif %}

<h1>Log in</h1>
<form method="post" action="{% url 'login' %}" class="mb-4">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}">
  {% bootstrap_form form %}
  {% buttons submit="Login"%}
    <a class="mx-2" href="{% url 'password_reset' %}">Forgot your password?</a>
  {% endbuttons %}
</form>
{% endblock %}