{% extends "full_width_base.html" %}
{% load static %}

{% block content %}
<section class="section-border border-primary">
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters min-vh-100">
      <div class="col-8 col-md-6 col-lg-7 offset-md-1 order-md-2 mt-auto mt-md-0 pt-8 pb-4 py-md-11">
        <img src="{% static "landkit_theme/img/illustrations/illustration-1.png" %}" alt="Illustration of two people following a map" class="img-fluid">
      </div>
      <div class="col-12 col-md-5 col-lg-4 order-md-1 mb-auto mb-md-0 pb-8 py-md-11">
        <h1 class="display-3 font-weight-bold text-center">Apologies</h1>
        <p class="mb-5 text-center text-muted">
          We can't seem to find that page.
        </p>
        <div class="text-center">
          <a class="btn btn-primary" href="#" onclick="history.back();">
            Go back
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block navigation %}{% endblock %}
{% block footer %}{% endblock %}