{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="A mutual aid project providing free hot meals and grocery care packages to anyone impacted by COVID-19 across Toronto"
    />
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>{% block title %}The People's Pantry{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block navigation %}{% include "nav.html" %}{% endblock %}

    <div class="container body">
      {% bootstrap_messages %}
      {% block content %}{% endblock %}
    </div>
    <footer class="bg-dark">
      <div class="container text-center pt-3 pb-2">
        <a class="text-light" href="mailto:thepeoplespantrytoronto@gmail.com">Contact us</a>
      </div>
    </footer>
    {% bootstrap_javascript jquery='slim' %}
  </body>

</html>
