{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="A mutual aid project providing free hot meals and grocery care packages to anyone impacted by COVID-19 across Toronto"
    />
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>{% block title %}The People's Pantry{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="page">
      {% block navigation %}{% include "nav.html" %}{% endblock %}

      <section id="content" class="container">
        {% bootstrap_messages %}
        {% block content %}{% endblock %}
      </section>

      <footer>
        <hr class="mb-0" />
        <div class="container text-center py-3">
          <a href="mailto:{{settings.PUBLIC_RELATIONS_EMAIL}}">Contact us</a>
          <a class="icon--footer" href="https://www.facebook.com/groups/675649626532144/" target="_blank" rel="noopener noreferrer">
            <img alt="Facebook" src="{% static 'icons/facebook-mono.svg' %}" />
          </a>
          <a class="icon--footer" href="https://www.instagram.com/peoplespantryto/" target="_blank" rel="noopener noreferrer">
            <img alt="Instagram" src="{% static 'icons/instagram-mono.svg' %}" />
          </a>
          <a class="icon--footer" href="https://twitter.com/peoplespantryTO" target="_blank" rel="noopener noreferrer">
            <img alt="Twitter" src="{% static 'icons/twitter-mono.svg' %}" />
          </a>
          <a class="icon--footer" href="https://www.tiktok.com/@thepeoplespantry" target="_blank" rel="noopener noreferrer">
            <img alt="TikTok" src="{% static 'icons/tiktok-mono.svg' %}" />
          </a>
        </div>
      </footer>
    </div>
    {% bootstrap_javascript jquery='slim' %}
    {% block custom_jquery %}{% endblock %}
  </body>

</html>
