{% load static %}

<footer class="py-8 py-md-11 {{ bgcolor }} border-top {{ border }}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">
  
        <!-- Brand -->
        <img src="{% static "logo-muted.png" %}" alt="..." class="footer-brand mw-50 img-fluid mb-2">

        <!-- Text -->
        <p class="text-muted mb-2">
          Food for those in need.
        </p>

        <!-- Social -->
        <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
          <li class="list-inline-item list-social-item mr-3">
            <a class="fe fe-facebook text-muted text-decoration-none" href="https://www.facebook.com/groups/675649626532144/" target="_blank" rel="noopener noreferrer"></a>
          </li>
          <li class="list-inline-item list-social-item mr-3">
            <a class="fe fe-instagram text-muted text-decoration-none" href="https://www.instagram.com/peoplespantryto/" target="_blank" rel="noopener noreferrer"></a>
          </li>
          <li class="list-inline-item list-social-item mr-3">
            <a class="fe fe-twitter text-muted text-decoration-none" href="https://twitter.com/peoplespantryTO" target="_blank" rel="noopener noreferrer"></a>
          </li>
          <li class="list-inline-item list-social-item mr-3">
            <a class="fe fe-music text-muted text-decoration-none" href="https://www.tiktok.com/@thepeoplespantry" target="_blank" rel="noopener noreferrer"></a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-4 col-lg-2">
  
        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-700">
          Access help
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="{% url "recipients:new_meal_request" %}" class="text-reset">
              Meals
            </a>
          </li>
          <li class="mb-3">
            <a href="{% url "recipients:new_grocery_request" %}" class="text-reset">
              Groceries
            </a>
          </li>
          <li class="mb-3">
            <a target="_blank" rel="noopener noreferrer" href="https://forms.gle/uJyEwwX8NbUZb4nX6" class="text-reset">
              Beyond Toronto
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 col-lg-2">
  
        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-700">
          Support us
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Cook
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Deliver
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Organize
            </a>
          </li>
          <li class="mb-3">
            <a target="_blank" rel="noopener noreferrer" href="https://www.gofundme.com/f/the-people039s-pantry-covid19-emergency-meal-fund" class="text-reset">
              Donate
            </a>
          </li>
          <li class="mb-3">
            <a target="_blank" rel="noopener noreferrer" href="https://donorbox.org/thepeoplespantryto" class="text-reset">
              Sponsor
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">
  
        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-700">
          Resources
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1iPu8yy_GbBuF6IK2dZwM-mqxzgekqVfI/view" class="text-reset">
              Cooking guide
            </a>
          </li>
          <li class="mb-3">
            <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/document/d/1Kxf0Zz3dMO7vI410VMY5sTJX3PMh7Mt8dGQIgNmQwGs/edit" class="text-reset">
              Delivery guide
            </a>
          </li>
          <li class="mb-3">
            <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSfuOiqDuuvngZhPRYhy5BpzFf5IwGvpYz4QYRQ3TzA18el9kA/viewform" class="text-reset">
              Reimbursement
            </a>
          </li>
          <li class="mb-3">
            <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSemtVbJij_fGZMpxlo91nHjTZe6JH_VbG61c5q9gok2aw2UUg/viewform" class="text-reset">
              Recipes
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 col-lg-2">
  
        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-700">
          About
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Mission
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Who we are
            </a>
          </li>
          <li class="mb-3">
            <a href="{% url "public:media" %}" class="text-reset">
              Media
            </a>
          </li>
          <li class="mb-3">
            <a class="text-reset" target="_blank" rel="noopener noreferrer" href="https://docs.google.com/document/d/1AUkjr8DPlgM6AmWXElsF2vpAS6J6UADAESt12fJ13zQ/edit#">
              Code of Conduct
            </a>
          </li>
          <li>
            <a href="mailto:{{settings.PUBLIC_RELATIONS_EMAIL}}" class="text-reset">
              Contact us
            </a>
          </li>
        </ul>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>