{% load profile %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container">

    <a class="navbar-brand text-dark" href="{% url 'public:index' %}">
      <img src="{% static 'logo-black.png' %}" class="navbar-brand-img d-inline-block align-top" alt="The People's Pantry logo">
      The People's Pantry
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <ul class="navbar-nav mr-auto">

        {# Requests section #}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Submit a request
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'recipients:new_meal_request' %}">Request meals</a>
            <a class="dropdown-item" href="{% url 'recipients:new_grocery_request' %}">Request groceries</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="{% url "public:sister_initiative" %}" target="_blank" rel="noopener noreferrer">Outside Toronto</a>
          </div>
        </li>

        {# Volunteer section #}
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Requests
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'volunteers:chef_signup_list' %}">Sign up to cook</a>
            <a class="dropdown-item" href="{% url 'volunteers:deliverer_signup_list' %}">Sign up to deliver meals</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="{% url "public:sister_initiative_volunteers" %}">Outside Toronto</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Tasks
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'volunteers:chef_list' %}">My cooking tasks</a>
            <a class="dropdown-item" href="{% url 'volunteers:deliverer_list' %}">My delivery tasks</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="{% url "public:cooking_guide" %}">Cooking guidelines</a>
            <a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="{% url "public:cooking_quick_guide" %}">Cooking quick guide</a>
            <a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="{% url "public:cooking_onboarding" %}">Cooking onboarding</a>
            <a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="{% url "public:delivery_guide" %}">Delivery guidelines</a>
            <a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="{% url "public:reimbursement" %}">Submit reimbursement</a>
            <a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="{% url "public:recipes" %}">Recipes</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="{% url 'volunteers:resources' %}">All resources</a>
          </div>
        </li>
        {% endif %}

        {# Organizer-only section #}
        {% if request.user.is_staff %}
        <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
        {% endif %}
      </ul>

      {# User info section, or login/signup if unauthenticated #}
      <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="avatar">{% profile_image request.user %}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-item">
                <a class="dropdown-link" href="{% url 'profile' %}">
                  <span class="d-flex align-items-center">
                    <span class="avatar">{% profile_image request.user %}</span>
                    <span class="d-flex ml-3 flex-column">
                      <span class="font-weight-bold">{{ request.user.volunteer.name }}</span>
                      <span class="text-secondary">View profile</span>
                    </span>
                  </span>
                </a>
              </div>
              <hr class="dropdown-divider">
              <a class="dropdown-item" href="{% url "public:donate" %}" target="_blank" rel="noopener noreferrer">Donate now</a>
              <a class="dropdown-item" href="{% url "public:sponsor" %}" target="_blank" rel="noopener noreferrer">Donate monthly</a>
              <hr class="dropdown-divider">
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </ul>
          </li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Sign in</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Sign up</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>