<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: white">

  <a class="navbar-brand" href="{% url 'public:index' %}">The People's Pantry</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      {# Requests section #}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Submit a request
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'recipients:new_meal_request' %}">Request meals</a></li>
          <li><a class="dropdown-item" href="{% url 'recipients:new_grocery_request' %}">Request groceries</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="https://forms.gle/uJyEwwX8NbUZb4nX6" target="_blank" rel="noopener noreferrer">Outside Toronto</a></li>
        </ul>
      </li>

      {# Volunteer section #}
      {% if request.user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Requests
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'volunteers:chef_signup_list' %}">Sign up to cook</a></li>
          <li><a class="dropdown-item" href="{% url 'volunteers:delivery_signup_list' %}">Sign up to deliver meals</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://forms.gle/i7BscqiGwyvRL5Fr7">Outside Toronto</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Tasks
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'volunteers:chef_list' %}">My cooking tasks</a></li>
          <li><a class="dropdown-item" href="{% url 'volunteers:delivery_list' %}">My delivery tasks</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Resources
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://docs.google.com/document/d/1OCS-i_pm87MsT-POAbcDCKrv6SBA0J9tepOaETyLwmY/edit">Cooking guidelines</a></li>
          <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1iPu8yy_GbBuF6IK2dZwM-mqxzgekqVfI/view">Cooking quick guide</a></li>
          <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/15ijQmXwx9vsJtXrUe0-K0DHaHTKMAW1k/view">Cooking onboarding</a></li>
          <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://docs.google.com/document/d/1Kxf0Zz3dMO7vI410VMY5sTJX3PMh7Mt8dGQIgNmQwGs/edit">Delivery guidelines</a></li>
          <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSfuOiqDuuvngZhPRYhy5BpzFf5IwGvpYz4QYRQ3TzA18el9kA/viewform">Submit reimbursement</a></li>
          <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSemtVbJij_fGZMpxlo91nHjTZe6JH_VbG61c5q9gok2aw2UUg/viewform">Submit recipes</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item"  href="{% url 'volunteers:resources' %}">All resources</a></li>
        </ul>
      </li>
      {% endif %}

      {# Organizer-only section #}
      {% if request.user.is_staff %}
      <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
      {% endif %}
    </ul>

    {# User info section, or login/signup if unauthenticated #}
    <ul class="navbar-nav">
      {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Logged in as: {{ request.user.username }}</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'profile' %}">My profile</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
      {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Signup</a></li>
      {% endif %}
    </ul>

    {# Donate section #}
    <ul class="navbar-nav ml-2">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light btn btn-info" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Donate</a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a class="dropdown-item" href="https://donorbox.org/thepeoplespantryto" target="_blank" rel="noopener noreferrer">Donate monthly</a></li>
          <li><a class="dropdown-item" href="https://www.gofundme.com/f/the-people039s-pantry-covid19-emergency-meal-fund" target="_blank" rel="noopener noreferrer">Donate now</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>