.asc::before {
  content: "\25B2";
}

.desc::before {
  content: "\25BC";
}




/* -----------------------------------
      CHEF SIGN-UP AND LIST PAGES
------------------------------------ */

.volunteer-pages--meals-list {
  margin: 0;
  padding: 0;
}

.volunteer-pages--meals-list .volunteer-pages--meals {
  border: 1px solid #ccc;
  padding: 1.5rem 1.5rem 0.5rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  list-style: none;
}

.volunteer-pages--meals-list .volunteer-pages--meals label {
  display: block;
  font-weight: bold;
  margin: 0.5rem 0 0;
}

.volunteer-pages--meal-signup-time {
  margin: 0 0 1rem;
}