/* Ensure headers always have a bit of space */
h1 {
  margin-top: 2rem;
}

/* Body/page/content changes to ensure sticky footer */
#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#content {
  flex: 1;
}

/* 
  Set height of all text boxes, to override Django's default of 10 lines
  When you account for padding and line height, 5em is approximately 3 lines
*/
textarea,
textarea.form-control {
  height: 5em;
}

textarea.terms-of-service {
  height: 15em;
}

.responsive-map {
  overflow: hidden;
  padding-bottom: 75%; /* Ratio of height to width */
  position: relative;
  height: 0;
}

.responsive-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* 
  Custom CSS to improve accessibility/override landkit defaults
*/
.text-muted,
.blockquote-footer {
  color: #54647c!important;
}

.text-light-700 {
  color:#8f9eb8;
  font-weight: 700;
}

.alert-success,
.btn-success {
  background-color:#1a8061!important;
  border-color:#1a8061!important;
}

.text-success {
  color:#1a8061!important;
}