{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<span class="d-inline-flex align-items-baseline">
  <h1>Volunteer Profile</h1>
  {% if 'Chefs' in groups %}<span class="badge badge-pill badge-primary ml-2">Chef</span>{% endif %}
  {% if 'Deliverers' in groups %}<span class="badge badge-pill badge-primary ml-2">Deliverer</span>{% endif %}
  {% if 'Organizers' in groups %}<span class="badge badge-pill badge-primary ml-2">Organizer</span>{% endif %}
</span>

<form action="" method="post" class="form">
  {% csrf_token %}
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Contact details</h5>
          <div class="row">
            <div class="col-sm">{% bootstrap_field form.name %}</div>
            <div class="col-sm">{% bootstrap_field form.phone_number %}</div>
          </div>
          <div class="row">
            <div class="col-sm">{% bootstrap_field form.address_1 %}</div>
            <div class="col-sm">{% bootstrap_field form.address_2 %}</div>
          </div>
          <div class="row">
            <div class="col-sm">{% bootstrap_field form.city %}</div>
            <div class="col-sm">{% bootstrap_field form.postal_code %}</div>
          </div>
          {% bootstrap_field form.pronouns %}
        </div>
      </div>

  {% bootstrap_button 'Update' %}
</form>

<div class="card-deck mt-5">
  {% if 'Chefs' not in groups %}
  <div class="card text-center">
    <img class="card-img-top" src="{% static 'chef.svg'%}" alt="Card image cap" height="200">
    <div class="card-body">
      <h5 class="card-title">Volunteer to be a chef</h5>
      <p>Sign up to cook homemade meals for our community.</p>
    </div>
    <div class="card-footer">
      {% if 'Chefs' in pending_groups %}
        <button type="button" class="btn btn-primary" disabled>Your application is pending</button>
      {% else %}
        <a class="btn btn-primary" role="button" href="{% url 'volunteers:chef_application' %}">Apply now</a>
      {% endif %}
    </div>
  </div>
  {% endif %}

  {% if 'Deliverers' not in groups %}
  <div class="card text-center">
    <img class="card-img-top" src="{% static 'deliverer.svg'%}" alt="Card image cap" height="200">
    <div class="card-body">
      <h5 class="card-title">Volunteer to be a deliverer</h5>
      <p>Sign up to help deliver meals and groceries.</p>
    </div>
    <div class="card-footer">
      {% if 'Deliverers' in pending_groups %}
        <button type="button" class="btn btn-primary" disabled>Your application is pending</button>
      {% else %}
        <a class="btn btn-primary" role="button" href="{% url 'volunteers:delivery_application' %}">Apply now</a>
      {% endif %}
    </div>
  </div>
  {% endif %}

  {% if 'Organizers' not in groups %}
  <div class="card  text-center">
    <img class="card-img-top" src="{% static 'organizer.svg'%}" alt="Card image cap" height="200">
    <div class="card-body">
      <h5 class="card-title">Volunteer to be an organizer</h5>
      <p>Send us an email if you'd like to help out with coordinating logistics.</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" role="button" href="mailto:thepeoplespantrytovolunteers@gmail.com?subject=Logistics coordinator application">Email us</a>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}