{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<span class="d-inline-flex align-items-baseline">
  <h1>Profile</h1>
  {% if 'Chefs' in groups %}<span class="badge badge-pill badge-primary ml-2">Chef</span>{% endif %}
  {% if 'Deliverers' in groups %}<span class="badge badge-pill badge-primary ml-2">Deliverer</span>{% endif %}
  {% if 'Organizers' in groups %}<span class="badge badge-pill badge-primary ml-2">Organizer</span>{% endif %}
</span>

<form action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% bootstrap_button 'Update' %}
</form>

<div class="card-deck mt-5">
  {% if 'Chefs' not in groups %}
  <div class="card">
    <img class="card-img-top" src="{% static 'chef.svg'%}" alt="Card image cap" height="200">
    <div class="card-body">
      <h5 class="card-title">Volunteer to be a chef</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.r.</p>
    </div>
    <div class="card-footer">
      {% if 'Chefs' in pending_groups %}
        <button type="button" class="btn btn-primary" disabled>Your application is pending</button>
      {% else %}
        <a class="btn btn-primary" role="button" href="{% url 'volunteers:chef_application' %}">Apply now</a>
      {% endif %}
    </div>
  </div>
  {% endif %}

  {% if 'Deliverers' not in groups %}
  <div class="card">
    <img class="card-img-top" src="{% static 'deliverer.svg'%}" alt="Card image cap" height="200">
    <div class="card-body">
      <h5 class="card-title">Volunteer to be a deliverer</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.t.</p>
    </div>
    <div class="card-footer">
      {% if 'Deliverers' in pending_groups %}
        <button type="button" class="btn btn-primary" disabled>Your application is pending</button>
      {% else %}
        <a class="btn btn-primary" role="button" href="{% url 'volunteers:delivery_application' %}">Apply now</a>
      {% endif %}
    </div>
  </div>
  {% endif %}

  {% if 'Organizers' not in groups %}
  <div class="card">
    <img class="card-img-top" src="{% static 'organizer.svg'%}" alt="Card image cap" height="200">
    <div class="card-body">
      <h5 class="card-title">Volunteer to be an organizer</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.t.</p>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-primary" disabled>Coming soon...</button>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}